<section class="main clearfix">
    <% page.posts.sort('updated', -1).each(function(item){ %>
        <%- partial('_partial/article-index', {item: item}) %>
    <% }); %>
    <%- partial('_partial/pagination') %>
</section>